
extends layout
include mixins/_contactForm
block panel
    .box
        p.panelTitle #{title}
        .panelButton 
            != h.icon('menu')
        .space
        
        +contactForm(contact)
