doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
        nav
          a.link_logo(href="/")
            .logo
                != h.icon('logo')
          ul.navMenu
            each item in h.menu
              li
                a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__active' : ''))
                  != h.icon(item.icon)
                  //span #{item.title}
        .panel
          block panel
            
    block messages
     
    .content
      block content

    block scripts
      script(src="/dist/App.bundle.js")
   
   
