input,select,textarea{
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: -moz-auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
  padding: 6px;
  margin-bottom: 20px;
  border-radius: $radiusValue;
  -moz-border-radius: $radiusValue;
  -webkit-border-radius: $radiusValue;
  -khtml-border-radius:$radiusValue;
  direction: ltr;
  height: 40px;
  width: 100%;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  background: #FFF;
  color: #777;
  border: 1px solid #EBEBEB;
  
}



input:active, textarea:active, select:active{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #57C3E8;
  outline: none;
  color: #57C3E8;
}

input:focus, textarea:focus, select:focus{

    border: 1px solid #57C3E8;
    -moz-box-shadow: 0 3px 8px 0 rgba(0,163,240,0.10);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,163,240,0.10);
    box-shadow: 0 3px 8px 0 rgba(0,163,240,0.10);
    color: #57C3E8;
}

label{
  font-size:13px;
  display: inline-block;
  width: 100%;
  color: $textColor;
  margin-bottom: 10px;
}



